<html>
    <head>

    
    
    </head>
    <body>
        <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css %>"/>

        <script src="<%= htmlWebpackPlugin.files.js %>"></script>
    </body>
</html>